<%-include("../user-layouts/header")%>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link rel="stylesheet" href="assets/css/main.css">
    <style>
        .small-swal {
    max-width: 20em;
    font-size: 0.8rem; /* Adjust the font size as needed */
}


    </style>
    <script>
        function handlePageLinkClick(page) {
    // event.preventDefault();
    const currentUrl = new URL(window.location.href);
    currentUrl.searchParams.set('page', page);
    window.location.href = currentUrl.toString();
}
    </script>
<!-- </head> -->

<body>
    <!-- Quick view -->
    <header class="header-area header-style-5" style="box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;">
        <div class="header-bottom sticky-bar sticky-white-bg">
            <div class="container">
                <div class="header-wrap header-space-between position-relative">
                    <div class="logo logo-width-1">
                        <a href="/home"><img src="assets/imgs/theme/elegance.svg" alt="logo" height="50"></a>
                    </div>
                    <div class="main-menu main-menu-grow main-menu-padding-1 main-menu-lh-1 main-menu-mrg-1 hm3-menu-padding d-none d-lg-block hover-boder">
                        <nav>
                            <ul>
                                <li><a href="/home">Home</a>
                                    
                                </li>
                                <li><a href="/allproducts">All</a>
                                    
                                </li>
                                <li class="position-static"><a href="/men">Men</a>
                                    
                                </li>
                                <li class="position-static"><a href="/women">Women</a>
                                   
                                </li>
                                
                                <li><a href="#">Pages <i class="fi-rs-angle-down"></i></a>
                                    <ul class="sub-menu">
                                        <li><a href="page-about.html">About Us</a></li>
                                        <li><a href="page-contact.html">Contact</a></li>
                                        <li><a href="/profile">My Account</a></li>
                                        
                                        
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="header-action-right">
                        <div class="search-style-1">
                            <form id="searchForm">
                                <input type="text" name="search" placeholder="Search" value="<%= searchQuery %>">
                                <button type="submit" style="font-size: medium;">Search</button>
                            </form>
                        </div>
                        <div class="header-action-2">
                            <div class="header-action-icon-2">
                                <a href="/wishlist">
                                    <img class="svgInject" alt="Evara" src="assets/imgs/theme/icons/icon-heart.svg">
                                </a>
                            </div>
    <div class="header-action-icon-2">
        <a class="mini-cart-icon" href="/cart">
            <img alt="Evara" src="assets/imgs/theme/icons/icon-cart.svg">
            <%if(quantity>0){%>
                <span class="pro-count blue"><%=quantity%></span>
            <%}%>
        </a>
    </div>
    <div class="header-action-icon-2">
        <ul>
        <li class="dropdown nav-item">
            <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img alt="Evara" src="assets/imgs/theme/icons/user.png" width="25" height="25"></a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                <a class="dropdown-item" href="/profile"><i class="material-icons md-perm_identity"></i>My Account</a>
                <div class="dropdown-divider"></div>
               
                <form id="logoutForm" method="post" action="/logout" style="display: inline;">
                    <button type="submit" class="dropdown-item text-light btn btn-light" onclick="event.preventDefault(); document.getElementById('logoutForm').submit();">
                        <i class="material-icons md-exit_to_app"></i> Logout
                    </button>
                </form>
            </div>
        </li>
    </ul>
    </div>
    <div class="header-action-icon d-block d-lg-none">
        <div class="burger-icon">
            <span class="burger-icon-top"></span>
            <span class="burger-icon-mid"></span>
            <span class="burger-icon-bottom"></span>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
</header>

    
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="/home" rel="nofollow">Home</a>
                    <span></span> Shop <span></span> All
                </div>
            </div>
        </div>
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row flex-row-reverse">
                    <div class="col-lg-9">
                        <div class="shop-product-fillter style-2">
                            <div class="totall-product">
                                <p> We found <strong class="text-brand" id="product-count"><%=count%></strong> items for you!</p>
                            </div>
                            <div class="sort-by-product-area">
                                
                                <div class="sort-by-cover">
                                    <div class="sort-by-product-wrap">
                                       
                                        <i class="fi-rs-apps-sort"></i>
                                        <select name="sort" id="sortSelect"> 
                                            <option value="default" <% if(sortOption==='default'){ %>selected<% } %>>Default</option>
                                            <option value="priceLowToHigh" <% if(sortOption==='priceLowToHigh'){ %>selected<% } %>>Price Low to High</option>
                                            <option value="priceHighToLow" <% if(sortOption==='priceHighToLow'){ %>selected<% } %>>Price High to Low</option>
                                        </select>
                                      
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                        <div class="product-list mb-50">
                            <div id="product-list"></div>
                            <div id="old-products">
                            <%for(let i=0;i<products.length;i++){%>
                                <div class="product-cart-wrap">
                                    <div class="product-img-action-wrap">
                                        <div class="product-img product-img-zoom">
                                            <div class="product-img-inner">
                                                <a href="/products?id=<%=products[i]._id%>">
                                                    <img class="default-img" src="admin/assets/imgs/products/<%=products[i].images[0].url%>" alt="">
                                                    <img class="hover-img" src="admin/assets/imgs/products/<%=products[i].images[1].url%>" alt="">
                                                </a>
                                            </div>
                                        </div>
                                      
                                        
                                    </div>
                                    <div class="product-content-wrap">
                                        <div class="product-category">
                                            <a href="shop-grid-right.html"><%=products[i].brand%></a>
                                        </div>
                                        <h2><a href="shop-product-right.html"><%=products[i].productName%></a></h2>
                                        <div class="product-price">
                                            <span>₹<%=products[i].salePrice%></span>
                                            <span class="old-price">₹<%=products[i].regularPrice%></span>
                                        </div>
                                       
                                        <p class="mt-15"><%=products[i].description%></p>
                                        <div class="product-action-1 show">
                                          
                                                
                                             <a aria-label="Wishlist" id="wishlist-button" class="action-btn" href="" data-product-id="<%=products[i]._id%>"><i class="fi-rs-heart"></i>Add to Wishlist</a>
                                          
                                           
                                          
                                        </div>
                                    </div>
                                </div>
                            <%}%>
                        </div>
                            
                            <!--single product-->
                        </div>
                        <!--pagination-->
                        <div class="pagination-area mt-15 mb-sm-5 mb-lg-0">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-start" id="pagination">
                                    <li class="page-item active">
                                        <% if (currentPage > 1) { %>
                                            <a class="page-link" href="#" type="button" onclick="handlePageLinkClick('<%= currentPage - 1 %>')">
                                                <i class="fi-rs-angle-double-small-left"></i>
                                            </a>
                                        <% } %>
                                    </li>
                                    <li class="page-item">Page <%= currentPage %> of <%= totalPages %></li>
                                    <li class="page-item active">
                                        <% if (currentPage < totalPages) { %>
                                            <a class="page-link" href="#"type="button" onclick="handlePageLinkClick('<%= currentPage + 1 %>')" value="<%= currentPage + 1 %>">
                                                <i class="fi-rs-angle-double-small-right"></i>
                                            </a>
                                        <% } %>
                                    </li>
                                </ul>
                                
                            </nav>
                        </div>
                    </div>
                
                    <div class="col-lg-3 primary-sidebar sticky-sidebar">
                        <!-- Add this HTML in your EJS template -->
<form id="filterForm" method="get">
   
    <div class="widget-category mb-30">
        <h5 class="section-title style-1 mb-30 wow fadeIn animated">Brand</h5>
        <ul class="categories">
            
    <% for(let i=0; i < brand.length; i++) { %>
        <li>
        <label>
            <input type="checkbox" class="form-check-input" name="brands" value="<%= brand[i].brandName %>" <% if(filterBrands.includes(brand[i].brandName)){ %>checked<% } %>>
            <%= brand[i].brandName %>
        </label>
    </li>
    <% } %>
    <!-- Repeat for other filters -->

                                
                               
                               
</ul>
</div>
<div class="widget-category mb-30">
    <h5 class="section-title style-1 mb-30 wow fadeIn animated">Category</h5>
    <ul class="categories">
        
<% for(let i=0;i<category.length;i++) { %>
    <li>
    <label>
        <input type="checkbox" class="form-check-input" name="categories" value="<%= category[i].categoryName %>" <% if(filterCategories.includes(category[i].categoryName)){ %>checked<% } %>>
        <%= category[i].categoryName %>
    </label>
</li>
<% } %>

                            
                           
                           
</ul>
</div>

<div class="widget-category mb-30">
    <h5 class="section-title style-1 mb-30 wow fadeIn animated">Color</h5>
    <ul class="colors">
        
<% for(let i=0;i<color.length;i++) { %>
    <li>
    <label>
        <input type="checkbox" class="form-check-input" name="colors" value="<%= color[i] %>" <% if(filterColors.includes(color[i])){ %>checked<% } %>>
        <%= color[i] %>
    </label>
</li>
<% } %>
                   
                           
</ul>
</div>



<div class="widget-category mb-30">
    <h5 class="section-title style-1 mb-30 wow fadeIn animated">Size</h5>
    <ul class="sizes">
        
<% for(let i=0;i<size.length;i++) { %>
    <li>
    <label>
        <input type="checkbox" class="form-check-input" name="sizes" value="<%= size[i] %>" <% if(filterSizes.includes(size[i])){ %>checked<% } %>>
        <%= size[i] %>
    </label>
</li>
<% } %>
                   
                           
</ul>
</div>
    <button type="submit">Apply Filters</button>
</form>

                           
                    
                        </div>

                   
                    </div>
                </div>
            <!-- </div> -->
        </section>
    </main>
    <%-include("../user-layouts/footer.ejs")%>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <h5 class="mb-5">Now Loading</h5>
                    <div class="loader">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Vendor JS-->
    <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="assets/js/plugins/slick.js"></script>
    <script src="assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="assets/js/plugins/wow.js"></script>
    <script src="assets/js/plugins/jquery-ui.js"></script>
    <script src="assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="assets/js/plugins/magnific-popup.js"></script>
    <script src="assets/js/plugins/select2.min.js"></script>
    <script src="assets/js/plugins/waypoints.js"></script>
    <script src="assets/js/plugins/counterup.js"></script>
    <script src="assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="assets/js/plugins/images-loaded.js"></script>
    <script src="assets/js/plugins/isotope.js"></script>
    <script src="assets/js/plugins/scrollup.js"></script>
    <script src="assets/js/plugins/jquery.vticker-min.js"></script>
    <script src="assets/js/plugins/jquery.theia.sticky.js"></script>
    <script src="assets/js/plugins/jquery.elevatezoom.js"></script>
    <!-- Template  JS -->
    <script src="assets/js/main.js"></script>
    <script src="assets/js/shop.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
    $(document).ready(function() {
 

        const sortSelect = document.getElementById('sortSelect');
        sortSelect.addEventListener('change', function() {
            const selectedSortOption = sortSelect.value;
            const currentUrl = new URL(window.location.href);
            currentUrl.searchParams.set('sort', selectedSortOption);
            window.location.href = currentUrl.toString();
        });



        const searchForm = document.getElementById('searchForm');
        searchForm.addEventListener('submit', function(event) {
        event.preventDefault();
        const searchInput = searchForm.querySelector('input[name="search"]');
        const searchQuery = searchInput.value.trim();
        const currentUrl = new URL(window.location.href);
        currentUrl.searchParams.set('search', searchQuery);
        window.location.href = currentUrl.toString();
        });


     
        const filterForm = document.getElementById('filterForm');

filterForm.addEventListener('submit', function (event) {
    event.preventDefault();
    
    const formData = new FormData(filterForm);
    const params = new URLSearchParams(formData);

    const currentUrl = new URL(window.location.href);
    currentUrl.search = `${currentUrl.search ? currentUrl.search + '&' : ''}${params.toString()}`;

    window.location.href = currentUrl.toString();
});


   
    $(document).on('click', '#wishlist-button', function(event) {
        event.preventDefault(); 
        var productId = $(this).data('product-id');
        
         $.ajax({
            url: '/wishlist-add',
            method: 'POST',
            data: { productId: productId },
            success: function(response) {
                Swal.fire({
                        icon: 'success',
                        title: "Product Added", 
                        text: response.message,  
                        confirmButtonText: "Close", 
                        customClass: 'small-swal'
                      });
            },
            error: function(error) {
            }
    });
    });
   
    
});

       
    </script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-list-left.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:26:43 GMT -->
</html>