<%-include("../user-layouts/header")%>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link rel="stylesheet" href="assets/css/main.css">
    
    <!-- Add these links to your HTML file -->

    <style>
     


 
        /* Add your CSS styles for the toast message here */
        .toast {
          position: fixed;
          top: 0;
          right: 20px;
          background-color: #0c7856;
          color: white;
          padding: 10px;
          border-radius: 5px;
          display: none;
          animation: jumpIn 1s ease-out;

          align-items: center;
        }
    
        .toast img {
          width: 40px;
          height: 40px;
          margin-right: 10px;
          border-radius: 50%;
        }
    
        @keyframes jumpIn {
    0% { top: -50px; opacity: 0; }
    60% { top: 0; }
    100% { top: 0; opacity: 1; }
}
    
        /* Your navbar styles here */
    
      </style>
    <script>
        function handlePageLinkClick(page) {
    // event.preventDefault();
    const currentUrl = new URL(window.location.href);
    currentUrl.searchParams.set('page', page);
    window.location.href = currentUrl.toString();
}
    </script>
<!-- </head> -->

<body>
    <!-- Quick view -->
    <header class="header-area header-style-5" style="box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;">
        <div class="header-bottom sticky-bar sticky-white-bg">
            <div class="container">
                <div class="header-wrap header-space-between position-relative">
                    <div class="logo logo-width-1">
                        <a href="/"><img src="assets/imgs/theme/elegance.svg" alt="logo" height="50"></a>
                    </div>
                    <div class="main-menu main-menu-grow main-menu-padding-1 main-menu-lh-1 main-menu-mrg-1 hm3-menu-padding d-none d-lg-block hover-boder">
                        <nav>
                            <ul>
                                <li><a href="/">Home</a>
                                    
                                </li>
                                <li><a href="/allproducts">All</a>
                                    
                                </li>
                                <li class="position-static"><a href="/men">Men</a>
                                    
                                </li>
                                <li class="position-static"><a href="/women">Women</a>
                                   
                                </li>
                                
                                <li><a href="#">Pages <i class="fi-rs-angle-down"></i></a>
                                    <ul class="sub-menu">
                                        <li><a href="/about">About Us</a></li>
                                        <li><a href="/contact">Contact</a></li>
                                        <li><a href="/my/profile">My Account</a></li>
                                        
                                        
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    
                    <div class="header-action-right">
                        <div class="search-style-1">
                            <form action="/allProducts" method="get">
                                <input type="text" placeholder="Search for items…" name="search">
                                <button type="submit" style="font-size: medium;">Search</button>
                            </form>
                        </div>
                        <div class="header-action-2">
                            <div class="header-action-icon-2">
                                <a href="/wishlist">
                                    <img class="svgInject" alt="Evara" src="assets/imgs/theme/icons/icon-heart.svg">
                                    <%if(userData!=null && userData.wishlist.length>0){%>
                                        <span class="pro-count blue"><%=userData.wishlist.length%></span>
                                    <%}else{%>
                                        <span></span>
                                    <%}%>
                                </a>
                            </div>
    <div class="header-action-icon-2">
        <a class="mini-cart-icon" href="/cart">
            <img alt="Evara" src="assets/imgs/theme/icons/icon-cart.svg">
            <%if(quantity!=null && quantity>0){%>
                <span class="pro-count blue"><%=quantity%></span>
            <%}else{%>
                <span></span>
            <%}%>
            
        </a>
    </div>
    <div class="header-action-icon-2">
        <ul>
            <li class="dropdown nav-item">
                <%if(userData!=null){%>
                    <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img alt="Evara" src="assets/imgs/theme/icons/user.png" width="25" height="25"></a>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                        <a class="dropdown-item" href="my/profile"><i class="material-icons md-perm_identity"></i>My Account</a>
                        <div class="dropdown-divider"></div>
                        <form id="logoutForm" method="post" action="/logout" style="display: inline;">
                            <button type="submit" class="dropdown-item text-light btn btn-light" onclick="event.preventDefault(); document.getElementById('logoutForm').submit();">
                                <i class="material-icons md-exit_to_app"></i> Logout
                            </button>
                        </form>
                    </div>
                <%}else{%>
                    <a href="/login" id="dropdownAccount" aria-expanded="false"> <img alt="Evara" src="assets/imgs/theme/icons/user.png" width="25" height="25"></a>
                <%}%>
               
            </li>
    </ul>
    </div>
    <div class="header-action-icon d-block d-lg-none">
        <div class="burger-icon">
            <span class="burger-icon-top"></span>
            <span class="burger-icon-mid"></span>
            <span class="burger-icon-bottom"></span>
        </div>
    </div>
</div>
</div>
</div>
</div>
<div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-body d-flex">
        <img src="" alt="Product Image" class="mr-2">
        <span></span>
    </div>
</div>
</div>

</header>

<%-include("../user-layouts/mobilenav")%>
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="/" rel="nofollow">Home</a>
                    <span></span> Shop <span></span> All
                </div>
            </div>
        </div>
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row flex-row-reverse">
                    <div class="col-lg-9">
                        <div class="shop-product-fillter style-2">
                            <div class="totall-product">
                                <p> We found <strong class="text-brand" id="product-count"><%=count%></strong> items for you!</p>
                            </div>
                            <div class="sort-by-product-area">
                                <div class="search-style-4 mr-10" style="border-radius: 30;">
                                    <form id="searchForm">
                                        <input type="text" name="search" placeholder="Search" value="<%= searchQuery %>">
                                        
                                    </form>
                                </div>
                                <div class="sort-by-cover">
                                
                                    <div class="sort-by-product-wrap">
                                       
                                        <i class="fi-rs-apps-sort"></i>
                                        <!-- <select name="sort" id="sortSelect"> 
                                            <option value="default" <% if(sortOption==='default'){ %>selected<% } %>>Default</option>
                                            <option value="priceLowToHigh" <% if(sortOption==='priceLowToHigh'){ %>selected<% } %>>Price Low to High</option>
                                            <option value="priceHighToLow" <% if(sortOption==='priceHighToLow'){ %>selected<% } %>>Price High to Low</option>
                                        </select> -->
                                        <select name="sort" id="sortSelect"> 
                                            <option value="default" <%= sortOption === 'default' ? 'selected' : '' %>>Default</option>
                                            <option value="priceLowToHigh" <%= sortOption === 'priceLowToHigh' ? 'selected' : '' %>>Price Low to High</option>
                                            <option value="priceHighToLow" <%= sortOption === 'priceHighToLow' ? 'selected' : '' %>>Price High to Low</option>
                                        </select>
                                        
                                      
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                        <div class="product-list mb-50">
                            <div id="product-list"></div>
                            <div id="old-products">
                            <%for(let i=0;i<products.length;i++){%>
                                <div class="product-cart-wrap">
                                    <div class="product-img-action-wrap">
                                        <div class="product-img product-img-zoom">
                                            <div class="product-img-inner">
                                                <a href="/products?id=<%=products[i]._id%>">
                                                    <img class="default-img" src="admin/assets/imgs/products/<%=products[i].images[0].url%>" alt="">
                                                    <img class="hover-img" src="admin/assets/imgs/products/<%=products[i].images[1].url%>" alt="">
                                                </a>
                                            </div>
                                        </div>
                                      
                                        
                                    </div>
                                    <div class="product-content-wrap">
                                        <div class="product-category">
                                            <a href="shop-grid-right.html"><%=products[i].brand%></a>
                                        </div>
                                        <h2><a href="shop-product-right.html"><%=products[i].productName%></a></h2>
                                        <div class="product-price">
                                            <span>₹<%=products[i].salePrice%></span>
                                            <span class="old-price">₹<%=products[i].regularPrice%></span>
                                        </div>
                                       
                                        <p class="mt-15"><%=products[i].description%></p>
                                        <div class="product-action-1 show">
                                          
                                            <%if(userData!=null){%>
                                                <a aria-label="Wishlist" id="wishlist-button" class="action-btn" href="" data-product-id="<%=products[i]._id%>" data-image-url="<%=products[i].images[0].url%>"><i class="fi-rs-heart"></i>Add to Wishlist</a>
                                             
                                            <%}else{%>
                                                <a aria-label="Wishlist"  href="/login" class="action-btn" ><i class="fi-rs-heart"></i>Add to Wishlist</a>
                                             
                                            <%}%>
                                                
                                            
                                              
                                          
                                           
                                          
                                        </div>
                                    </div>
                                </div>
                            <%}%>
                        </div>
                            
                            <!--single product-->
                        </div>
                        <!--pagination-->
                        <div class="pagination-area mt-15 mb-sm-5 mb-lg-0">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-start" id="pagination">
                                    <li class="page-item active">
                                        <% if (currentPage > 1) { %>
                                            <a class="page-link" href="#" type="button" onclick="handlePageLinkClick('<%= currentPage - 1 %>')">
                                                <i class="fi-rs-angle-double-small-left"></i>
                                            </a>
                                        <% } %>
                                    </li>
                                    <li class="page-item">Page <%= currentPage %> of <%= totalPages %></li>
                                    <li class="page-item active">
                                        <% if (currentPage < totalPages) { %>
                                            <a class="page-link" href="#"type="button" onclick="handlePageLinkClick('<%= currentPage + 1 %>')" value="<%= currentPage + 1 %>">
                                                <i class="fi-rs-angle-double-small-right"></i>
                                            </a>
                                        <% } %>
                                    </li>
                                </ul>
                                
                            </nav>
                        </div>
                    </div>
                
                    <div class="col-lg-3 primary-sidebar sticky-sidebar">
                        <!-- Add this HTML in your EJS template -->
                        <a>Clear filters</a>
<form id="filterForm" method="get">
   
    <div class="widget-category mb-30">
        <h5 class="section-title style-1 mb-30 wow fadeIn animated">Brand</h5>
        <ul class="categories">
            
    <% for(let i=0; i < brand.length; i++) { %>
        <li>
        <label>
            <input type="checkbox" class="form-check-input" name="brands" value="<%= brand[i].brandName %>" <% if(filterBrands.includes(brand[i].brandName)){ %>checked<% } %>>
            <%= brand[i].brandName %>
        </label>
    </li>
    <% } %>
 

                                
                               
                               
</ul>
</div>
<!-- <div class="widget-category mb-30">
    <div >
        <span> <h5 class="section-title style-1 mb-30 wow fadeIn animated">Brand <a href="#coupon" data-bs-toggle="collapse" class="collapsed" aria-expanded="false">Click</a></h5></span>
    </div>
    <div class="panel-collapse collapse coupon_form " id="coupon">
        <ul class="categories">
            
            <% for(let i=0; i < brand.length; i++) { %>
                <li>
                <label>
                    <input type="checkbox" class="form-check-input" name="brands" value="<%= brand[i].brandName %>" <% if(filterBrands.includes(brand[i].brandName)){ %>checked<% } %>>
                    <%= brand[i].brandName %>
                </label>
            </li>
            <% } %>                        
                                       
        </ul>
    </div>
</div> -->
<div class="widget-category mb-30">
    <h5 class="section-title style-1 mb-30 wow fadeIn animated">Category</h5>
    <ul class="categories">
        
<% for(let i=0;i<category.length;i++) { %>
    <li>
    <label>
        <input type="checkbox" class="form-check-input" name="categories" value="<%= category[i].categoryName %>" <% if(filterCategories.includes(category[i].categoryName)){ %>checked<% } %>>
        <%= category[i].categoryName %>
    </label>
</li>
<% } %>

                            
                           
                           
</ul>
</div>

<div class="widget-category mb-30">
    <h5 class="section-title style-1 mb-30 wow fadeIn animated">Color</h5>
    <ul class="colors">
        
<% for(let i=0;i<color.length;i++) { %>
    <li>
    <label>
        <input type="checkbox" class="form-check-input" name="colors" value="<%= color[i] %>" <% if(filterColors.includes(color[i])){ %>checked<% } %>>
        <%= color[i] %>
    </label>
</li>
<% } %>
                   
                           
</ul>
</div>



<div class="widget-category mb-30">
    <h5 class="section-title style-1 mb-30 wow fadeIn animated">Size</h5>
    <ul class="sizes">
        
<% for(let i=0;i<size.length;i++) { %>
    <li>
    <label>
        <input type="checkbox" class="form-check-input" name="sizes" value="<%= size[i] %>" <% if(filterSizes.includes(size[i])){ %>checked<% } %>>
        <%= size[i] %>
    </label>
</li>
<% } %>
                   
                           
</ul>
</div>
    <button type="submit">Apply Filters</button>
</form>

                           
                    
                        </div>

                   
                    </div>
                </div>
            <!-- </div> -->
        </section>
    </main>
    <%-include("../user-layouts/footer.ejs")%>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <h5 class="mb-5">Now Loading</h5>
                    <div class="loader">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Vendor JS-->
    
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="assets/js/plugins/slick.js"></script>
    <script src="assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="assets/js/plugins/wow.js"></script>
    <script src="assets/js/plugins/jquery-ui.js"></script>
    <script src="assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="assets/js/plugins/magnific-popup.js"></script>
    <script src="assets/js/plugins/select2.min.js"></script>
    <script src="assets/js/plugins/waypoints.js"></script>
    <script src="assets/js/plugins/counterup.js"></script>
    <script src="assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="assets/js/plugins/images-loaded.js"></script>
    <script src="assets/js/plugins/isotope.js"></script>
    <script src="assets/js/plugins/scrollup.js"></script>
    <script src="assets/js/plugins/jquery.vticker-min.js"></script>
    <script src="assets/js/plugins/jquery.theia.sticky.js"></script>
    <script src="assets/js/plugins/jquery.elevatezoom.js"></script>
    <!-- Template  JS -->
    <script src="assets/js/main.js"></script>
    <script src="assets/js/shop.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
    $(document).ready(function() {
 

        const sortSelect = document.getElementById('sortSelect');
        sortSelect.addEventListener('change', function() {
            const selectedSortOption = sortSelect.value;
            const currentUrl = new URL(window.location.href);
            currentUrl.searchParams.set('sort', selectedSortOption);
            window.location.href = currentUrl.toString();
        });



        const searchForm = document.getElementById('searchForm');
        searchForm.addEventListener('submit', function(event) {
        event.preventDefault();
        const searchInput = searchForm.querySelector('input[name="search"]');
        const searchQuery = searchInput.value.trim();
        const currentUrl = new URL(window.location.href);
        currentUrl.searchParams.set('search', searchQuery);
        window.location.href = currentUrl.toString();
        });


        filterForm.addEventListener('submit', function (event) {
    event.preventDefault();
    
    const formData = new FormData(filterForm);
    const params = new URLSearchParams(formData);

    const currentUrl = new URL(window.location.href);

    // Remove existing filter parameters
    currentUrl.searchParams.forEach((value, key) => {
        currentUrl.searchParams.delete(key);
    });

    // Append the new filter parameters
    currentUrl.search = `${currentUrl.search ? currentUrl.search + '&' : ''}${params.toString()}`;

    window.location.href = currentUrl.toString();
});



    $(document).on('click', '#wishlist-button', function(event) {
    event.preventDefault(); 
    var productId = $(this).data('product-id');
    var imageUrl = $(this).data('image-url');
    
    $.ajax({
        url: '/wishlist-add',
        method: 'POST',
        data: { productId: productId },
        success: function(response) {
            // Trigger Bootstrap toast
            $('.toast').toast({
                delay: 2000, // Adjust the delay as needed
            });
            $('.toast-body img').attr('src', 'admin/assets/imgs/products/' + imageUrl);
            $('.toast-body span').text(response.message);
            $('.toast').toast('show');
        },
        error: function(error) {
            // Handle error
        }
    });
});






    
});

       
    </script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-list-left.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:26:43 GMT -->
</html>