<%-include("../user-layouts/header")%>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link rel="stylesheet" href="assets/css/main.css">
   
</head>

<body>
    <header class="header-area header-style-5" style="box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;">
        <div class="header-bottom sticky-bar sticky-white-bg">
            <div class="container">
                <div class="header-wrap header-space-between position-relative">
                    <div class="logo logo-width-1">
                        <a href="/"><img src="assets/imgs/theme/elegance.svg" alt="logo" height="50"></a>
                    </div>
                    <div class="main-menu main-menu-grow main-menu-padding-1 main-menu-lh-1 main-menu-mrg-1 hm3-menu-padding d-none d-lg-block hover-boder">
                        <nav>
                            <ul>
                                <li><a href="/">Home</a>
                                    
                                </li>
                                <li><a href="/allproducts">All</a>
                                    
                                </li>
                                <li class="position-static"><a href="/men">Men</a>
                                    
                                </li>
                                <li class="position-static"><a href="/women">Women</a>
                                   
                                </li>
                                
                                <li><a href="#">Pages <i class="fi-rs-angle-down"></i></a>
                                    <ul class="sub-menu">
                                        <li><a href="/about">About Us</a></li>
                                            <li><a href="/contact">Contact</a></li>
                                            <li><a href="/my/profile">My Account</a></li>
                                        
                                        
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="header-action-right">
                        <div class="search-style-1">
                            <form action="/search" method="post">
                                <input type="text" placeholder="Search for items…" name="searchCriteria">
                                <button type="submit" style="font-size: medium;">Search</button>
                            </form>
                        </div>
                        <div class="header-action-2">
                            <div class="header-action-icon-2">
                                <a href="/wishlist">
                                    <img class="svgInject" alt="Evara" src="assets/imgs/theme/icons/icon-heart.svg">
                                    <%if(userData.wishlist.length>0){%>
                                        <span class="pro-count blue"><%=userData.wishlist.length%></span>
                                    <%}%>
                                </a>
                            </div>
    <div class="header-action-icon-2">
        <a class="mini-cart-icon" href="/cart">
            <img alt="Evara" src="assets/imgs/theme/icons/icon-cart.svg">
            <%if(quantity>0){%>
                <span class="pro-count blue"><%=quantity%></span>
            <%}%>
        </a>
    </div>
    <div class="header-action-icon-2">
        <ul>
        <li class="dropdown nav-item">
            <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img alt="Evara" src="assets/imgs/theme/icons/user.png" width="25" height="25"></a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                <a class="dropdown-item" href="my/profile"><i class="material-icons md-perm_identity"></i>My Account</a>
                <div class="dropdown-divider"></div>
               
                <!-- <form method="post" id="logoutForm" action="/logout" style="display: inline;">
                   <a class="dropdown-item text-danger" href=""><i class="material-icons md-exit_to_app" onclick="event.preventDefault(); document.getElementById('logoutForm').submit();"></i>Logout</a>
                </form> -->
                <form id="logoutForm" method="post" action="/logout" style="display: inline;">
                    <button type="submit" class="dropdown-item text-light btn btn-light" onclick="event.preventDefault(); document.getElementById('logoutForm').submit();">
                        <i class="material-icons md-exit_to_app"></i> Logout
                    </button>
                </form>
            </div>
        </li>
    </ul>
    </div>
    <div class="header-action-icon d-block d-lg-none">
        <div class="burger-icon">
            <span class="burger-icon-top"></span>
            <span class="burger-icon-mid"></span>
            <span class="burger-icon-bottom"></span>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
</header>

<%-include("../user-layouts/mobilenav")%>
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="/" rel="nofollow">Home</a>
                    <span></span> Pages
                    <span></span> Account
                </div>
            </div>
        </div>
    <main class="main">
        <!-- <div class="header-top header-top-ptb-1 d-none d-lg-block">
        </div> -->
        <section class="pt-100 pb-150">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 m-auto">
                        <div class="row d-flex align-items-center justify-content-center">
                            <div class="col-lg-6">
                                <div class="login_wrap widget-taber-content p-30 background-white border-radius-5">
                                    <div class="padding_eight_all bg-white">
                                        <div class="heading_s1">
                                            <h3 class="mb-30 text-center">Change Email</h3>
                                        </div>
                                        <form action="/change-email" method="post" id="registerform" >
                            

                                            <div class="form-group position-relative">
                                                    <input type="text" name="editemail" placeholder="Email" id="editemail">
                                                    <button type="button" class="btn btn-outline" name="sendotp" id="sendotp" style="position: absolute;right: 0;top: 0;color: black;border: none;" >Send OTP</button>
                                                    <span id="timer"></span>
                                                    <p class="error pt-1"></p>
                                               
                                            </div>
                                            <div id="message"></div>
                                            <div class="form-group d-flex row">
                                                <div class="col-lg-8">
                                                    <input type="text" name="otp" placeholder="Enter OTP" id="otp">
                                                    <p class="error pt-1"></p>
                                                </div>
                                                <div class="col-lg-4">
                                                    <button type="button" class="btn" id="verifyotp">verify</button>
                                                    <p></p>
                                                </div>
                                                
                                            </div>
                                            <p id="validmsg" class="font-sm"></p>
                                            <div class="form-group text-center">
                                                <button type="submit" class="btn btn-fill-out btn-block hover-up" name="register" onclick="return checkChangeFormValidity()">Update</button>
                                            </div>
                                            <%if(typeof message !== 'undefined'){%>
                                                <p style="color: red;"><%= message %></p>
                                            <%}%>
                                        </form>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%-include("../user-layouts/footer.ejs")%>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <h5 class="mb-5">Now Loading</h5>
                    <div class="loader">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Vendor JS-->
    <script>
        
        const emailInput = document.getElementById('editemail');
        const otpInput = document.getElementById('otp');
        const emailRegex = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
        const otpRegex=/^\d{4}$/

        const setError = (element, message) => {
        const inputControl = element.parentElement;
        const errorDisplay = inputControl.querySelector('.error');

        errorDisplay.innerText = message;
        inputControl.classList.add('error');
        inputControl.classList.remove('success')
        }

        const setSuccess = element => {
        const inputControl = element.parentElement;
        const errorDisplay = inputControl.querySelector('.error');

        errorDisplay.innerText = '';
        inputControl.classList.add('success');
        inputControl.classList.remove('error');
        
        };

        
        
        emailInput.addEventListener('input', () => {
            const email = emailInput.value;
            validateEmail(email);
            
        });
        otpInput.addEventListener('input', () => {
            const otp = otpInput.value;
            validateOtp(otp);
            
        });

        function validateEmail(email) {
            if(email.trim().length < 1){
                const message="Email cannot be empty"
                setError(emailInput,message)
                return false
            }
            if(!emailRegex.test(email.trim())){
                const message="Enter a valid email Id"
                setError(emailInput,message)
                return false
            }
            const message=""
            setSuccess(emailInput,message)
            return true
        }

        function validateOtp(otp) {
            if(otp.trim().length < 1){
                const message="otp cannot be empty"
                setError(otpInput,message)
                return false
            }
            if(!otpRegex.test(otp.trim())){
                const message="Enter a valid otp"
                setError(otpInput,message)
                return false
            }
            const message=""
            setSuccess(otpInput,message)
            return true
        }

        function checkChangeFormValidity() {
            let emailValid = validateEmail(emailInput.value);
            let otpValid = validateOtp(otpInput.value);
            clearInterval(timer);
    // Reset the timer started flag
    timerStarted = false;
    // Reset the timer count and button text
    timerCount = 30;
    document.getElementById('timer').textContent = '';
    // document.getElementById('sendotp').textContent = 'Resend OTP';
        
            if (emailValid && otpValid) {
                return true
            } else {
                return false
            }
        }

        function checkEmail(){
            let emailValid = validateEmail(emailInput.value);
            if(emailValid){
                return true
            }else{
                return false
            }
        }
        
        

var timer;
var timerCount = 30; // Timer set to 30 seconds
var timerStarted = false; // Flag to track whether the timer has started or not

function startTimer() {
    timer = setInterval(function() {
        document.getElementById('timer').textContent = 'Resend OTP in ' + timerCount + 's';
        timerCount--;
        if (timerCount < 0) {
            clearInterval(timer);
            document.getElementById('timer').textContent = '';
            document.getElementById('sendotp').textContent = 'Resend OTP';
            timerCount = 30; // Reset the timer count
            timerStarted = false; // Reset the timer started flag
        }
    }, 1000);
}

document.getElementById('sendotp').addEventListener('click', function() {
    // If the timer has not started, start it
    let emailIsValid = validateEmail(emailInput.value);
            if(emailIsValid){
                if (!timerStarted) {
        // Perform your OTP sending logic here
        
        // Start the timer
                startTimer();
                timerStarted = true; // Set the timer started flag to true
            }else{
                timerStarted = false;
            }
    // ... your existing code for sending OTP ...
}});

// Function to check form validity when submitting

document.getElementById('otp').addEventListener('input', function() {
    // If the user starts typing OTP, clear the timer
    clearInterval(timer);
    document.getElementById('timer').textContent = '';
    document.getElementById('sendotp').textContent = 'Resend OTP';
    timerCount = 30; // Reset the timer count
    timerStarted = false; // Reset the timer started flag
});

const sendBtn = document.getElementById("sendotp");
const verifyBtn = document.getElementById("verifyotp");
const messageDiv = document.getElementById("message");
const validDiv=document.getElementById("validmsg");

sendBtn.addEventListener("click", function () {
  const email = document.getElementById("editemail").value;
  fetch("/send-otp", {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
    },
    body: JSON.stringify({ email: email}),
  })
    // .then((response) => response.json())
    .then((data) => {
      messageDiv.textContent = "Success";
      // You can handle the response here, e.g., show a success message or redirect the user.
    })
    .catch((error) => {
      console.error("Error:", error);
      messageDiv.textContent = "Error sending OTP. Please try again.";
    });
});


verifyBtn.addEventListener("click", function () {
    const otp = document.getElementById("otp").value;
    // const otp = document.getElementById('otp').value;
    // Send OTP verification request to the server using Ajax
    fetch("/verify-otp", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({ otp: otp}),
    })
    //   .then((response) => response.json())
      .then((data) => {
        validDiv.textContent="Verified"
        // validDiv.textContent = "Success"+data;
        // You can handle the response here, e.g., show a success message or redirect the user.
      })
      .catch((error) => {
        console.error("Error:", error);
        validDiv.textContent = "Error verifying OTP. Please try again.";
      });
  });

    </script>
    <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="assets/js/plugins/slick.js"></script>
    <script src="assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="assets/js/plugins/wow.js"></script>
    <script src="assets/js/plugins/jquery-ui.js"></script>
    <script src="assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="assets/js/plugins/magnific-popup.js"></script>
    <script src="assets/js/plugins/select2.min.js"></script>
    <script src="assets/js/plugins/waypoints.js"></script>
    <script src="assets/js/plugins/counterup.js"></script>
    <script src="assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="assets/js/plugins/images-loaded.js"></script>
    <script src="assets/js/plugins/isotope.js"></script>
    <script src="assets/js/plugins/scrollup.js"></script>
    <script src="assets/js/plugins/jquery.vticker-min.js"></script>
    <script src="assets/js/plugins/jquery.theia.sticky.js"></script>
    <!-- Template  JS -->
    <script src="assets/js/main.js"></script>
    <script src="assets/js/otpverification.js"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/page-login-register.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:26:06 GMT -->
</html>