<%-include("../user-layouts/header")%>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link rel="stylesheet" href="assets/css/main.css">
</head>

<body>
    <header class="header-area header-style-5" style="box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;">
        <div class="header-bottom sticky-bar sticky-white-bg">
            <div class="container">
                <div class="header-wrap header-space-between position-relative">
                    <div class="logo logo-width-1">
                        <a hre"><img src="assets/imgs/theme/elegance.svg" alt="logo" height="50"></a>
                    </div>
                    <div class="main-menu main-menu-grow main-menu-padding-1 main-menu-lh-1 main-menu-mrg-1 hm3-menu-padding d-none d-lg-block hover-boder">
                        <nav>
                            <ul>
                                <li><a hre">Home</a>
                                    
                                </li>
                                <li><a href="/allproducts">All</a>
                                    
                                </li>
                                <li class="position-static"><a href="/men">Men</a>
                                    
                                </li>
                                <li class="position-static"><a href="/women">Women</a>
                                   
                                </li>
                                
                                <li><a href="#">Pages <i class="fi-rs-angle-down"></i></a>
                                    <ul class="sub-menu">
                                        <li><a href="/about">About Us</a></li>
                                            <li><a href="/contact">Contact</a></li>
                                            <li><a href="/my/profile">My Account</a></li>
                                        
                                        
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="header-action-right">
                        <div class="search-style-1">
                            <form action="/search" method="post">
                                <input type="text" placeholder="Search for items…" name="searchCriteria">
                                <button type="submit" style="font-size: medium;">Search</button>
                            </form>
                        </div>
                        <div class="header-action-2">
                            <div class="header-action-icon-2">
                                <a href="/wishlist">
                                    <img class="svgInject" alt="Evara" src="assets/imgs/theme/icons/icon-heart.svg">
                                </a>
                            </div>
    <div class="header-action-icon-2">
        <a class="mini-cart-icon" href="/cart">
            <img alt="Evara" src="assets/imgs/theme/icons/icon-cart.svg">
            <%if(quantity>0){%>
                <span class="pro-count blue"><%=quantity%></span>
            <%}%>
        </a>
    </div>
    <div class="header-action-icon-2">
        <ul>
        <li class="dropdown nav-item">
            <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img alt="Evara" src="assets/imgs/theme/icons/user.png" width="25" height="25"></a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                <a class="dropdown-item" href="my/profile"><i class="material-icons md-perm_identity"></i>My Account</a>
                <div class="dropdown-divider"></div>
                <form id="logoutForm" method="post" action="/logout" style="display: inline;">
                    <button type="submit" class="dropdown-item text-light btn btn-light" onclick="event.preventDefault(); document.getElementById('logoutForm').submit();">
                        <i class="material-icons md-exit_to_app"></i> Logout
                    </button>
                </form>
            </div>
        </li>
    </ul>
    </div>
    <div class="header-action-icon d-block d-lg-none">
        <div class="burger-icon">
            <span class="burger-icon-top"></span>
            <span class="burger-icon-mid"></span>
            <span class="burger-icon-bottom"></span>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
</header>

<%-include("../user-layouts/mobilenav")%>
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="/" rel="nofollow">Home</a>
                    <span></span> Pages
                    <span></span> Account
                </div>
            </div>
        </div>
        <section class="pt-50 pb-50">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 m-auto">
                        <div class="card">
                                            <div class="card-header text-center">
                                                <h5>Edit Address</h5>
                                            </div>
                                            <div class="card-body">
                                               
                                                <form method="post" action="/editAddress">
                                                    <div class="row">
                                                        <div class="form-group col-md-12">
                                                            <label>Name <span class="required">*</span></label>
                                                            <input required="" class="form-control square" name="adname" id="adname" type="text" value="<%=user[0].address[0].name%>">
                                                            <p class="error pt-1"></p>
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label>Mobile<span class="required">*</span></label>
                                                            <input required="" class="form-control square" name="admobile" id="admobile" type="text" value="<%=user[0].address[0].mobile%>">
                                                            <p class="error pt-1"></p>
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label>House Name<span class="required">*</span></label>
                                                            <input required="" class="form-control square" name="adhname" id="adhname" type="text" value="<%=user[0].address[0].housename%>">
                                                            <p class="error pt-1"></p>
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label>Area/Streat<span class="required">*</span></label>
                                                            <input required="" class="form-control square" name="adarea" id="adarea" type="text" value="<%=user[0].address[0].area%>">
                                                            <p class="error pt-1"></p>
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label>Town/City<span class="required">*</span></label>
                                                            <input required="" class="form-control square" name="adcity" id="adcity" type="text" value="<%=user[0].address[0].city%>">
                                                            <p class="error pt-1"></p>
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label>State<span class="required">*</span></label>
                                                            <input required="" class="form-control square" name="adstate" id="adstate" type="text" value="<%=user[0].address[0].state%>">
                                                            <p class="error pt-1"></p>
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label>Pincode <span class="required">*</span></label>
                                                            <input required="" class="form-control square" name="adpin" id="adpin" type="text" value="<%=user[0].address[0].pincode%>">
                                                            <p class="error pt-1"></p>
                                                        </div>
                                                        
                                                     <input type="text"  name="addressId" value="<%=user[0].address[0]._id%>" hidden>
                                                        <div class="col-md-12 text-center">
                                                            <button type="submit" class="btn btn-fill-out submit" name="submit" value="Submit" onclick="return checkEditAddressValidity()">Update</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%-include("../user-layouts/footer.ejs")%>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <h5 class="mb-5">Now Loading</h5>
                    <div class="loader">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Vendor JS-->
    <!-- <script>
        document.getElementById("edit").addEventListener("click",()=>{
            var profileTab = document.getElementById("profile-tab");
            profileTab.setAttribute("href","#account-detail")
        })
    
</script> -->
    <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="assets/js/plugins/slick.js"></script>
    <script src="assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="assets/js/plugins/wow.js"></script>
    <script src="assets/js/plugins/jquery-ui.js"></script>
    <script src="assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="assets/js/plugins/magnific-popup.js"></script>
    <script src="assets/js/plugins/select2.min.js"></script>
    <script src="assets/js/plugins/waypoints.js"></script>
    <script src="assets/js/plugins/counterup.js"></script>
    <script src="assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="assets/js/plugins/images-loaded.js"></script>
    <script src="assets/js/plugins/isotope.js"></script>
    <script src="assets/js/plugins/scrollup.js"></script>
    <script src="assets/js/plugins/jquery.vticker-min.js"></script>
    <script src="assets/js/plugins/jquery.theia.sticky.js"></script>
    <!-- Template  JS -->
    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/editAddressValidation.js"></script>
    <!-- <script src="assets/js/profileValidation.js"></script> -->
   
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/page-account.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:27:15 GMT -->
</html>