<%-include("../user-layouts/header")%>
    <!-- Favicon -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 
    <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link rel="stylesheet" href="assets/css/main.css">
    <style>
        
        /* Add your CSS styles for the toast message here */

        .toast {
          position: fixed;
          top: 0;
          right: 20px;
          background-color: #0c7856;
          color: white;
          padding: 10px;
          border-radius: 5px;
          display: none;
          animation: jumpIn 1s ease-out;
         width: 250px;
          align-items: center;
        }
    
        .toast img {
          width: 40px;
          height: 40px;
          margin-right: 10px;
          border-radius: 50%;
        }
    
        @keyframes jumpIn {
    0% { top: -50px; opacity: 0; }
    60% { top: 0; }
    100% { top: 0; opacity: 1; }

}

        
       
    
    </style>
</head>

<body>

        <header class="header-area header-style-5" style="box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;">
            <div class="header-bottom sticky-bar sticky-white-bg">
                <div class="container">
                    <div class="header-wrap header-space-between position-relative">
                        <div class="logo logo-width-1">
                            <a href="/"><img src="assets/imgs/theme/elegance.svg" alt="logo" height="50"></a>
                        </div>
                        <div class="main-menu main-menu-grow main-menu-padding-1 main-menu-lh-1 main-menu-mrg-1 hm3-menu-padding d-none d-lg-flex hover-boder ">
                            <nav>
                                <ul>
                                    <li><a href="/">Home</a>
                                        
                                    </li>
                                    <li><a href="/allproducts">All</a>
                                        
                                    </li>
                                    <li class="position-static"><a href="/men">Men</a>
                                        
                                    </li>
                                    <li class="position-static"><a href="/women">Women</a>
                                       
                                    </li>
                                    
                                    <li><a href="#">Pages <i class="fi-rs-angle-down"></i></a>
                                        <ul class="sub-menu">
                                            <li><a href="/about">About Us</a></li>
                                            <li><a href="/contact">Contact</a></li>
                                            <li><a href="/my/profile">My Account</a></li>
                                            
                                            
                                        </ul>
                                    </li>
                                </ul>
                               
                            </nav>
                            <div class="search-style-1 mt-10">
                                <form action="/allProducts" method="get">
                                    <input type="text" placeholder="Search for items…" name="search">
                                    <button type="submit" style="font-size: medium;">Search</button>
                                </form>
                            </div>
                        </div>
                        <div class="header-action-right">
                           
                                                      
                            <div class="header-action-2">
                                <div class="header-action-icon-2">
                                    <a href="/wishlist">
                                        <img class="svgInject" alt="Evara" src="assets/imgs/theme/icons/icon-heart.svg">
                                        <%if(userData!=null && userData.wishlist.length>0){%>
                                            <span class="pro-count blue"><%=userData.wishlist.length%></span>
                                        <%}else{%>
                                            <span></span>
                                        <%}%>
                                    </a>
                                </div>
        <div class="header-action-icon-2">
            <a class="mini-cart-icon" href="/cart">
                <img alt="Evara" src="assets/imgs/theme/icons/icon-cart.svg">
                <%if(quantity!=null && quantity>0){%>
                    <span class="pro-count blue"><%=quantity%></span>
                <%}else{%>
                    <span></span>
                <%}%>
                
            </a>
        </div>
        <div class="header-action-icon-2">
            <ul>
            <li class="dropdown nav-item">
                <%if(userData!=null){%>
                    <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img alt="Evara" src="assets/imgs/theme/icons/user.png" width="25" height="25"></a>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                        <a class="dropdown-item" href="my/profile"><i class="material-icons md-perm_identity"></i>My Account</a>
                        <div class="dropdown-divider"></div>
                        <form id="logoutForm" method="post" action="/logout" style="display: inline;">
                            <button type="submit" class="dropdown-item text-light btn btn-light" onclick="event.preventDefault(); document.getElementById('logoutForm').submit();">
                                <i class="material-icons md-exit_to_app"></i> Logout
                            </button>
                        </form>
                    </div>
                <%}else{%>
                    <a href="/login" id="dropdownAccount" aria-expanded="false"> <img alt="Evara" src="assets/imgs/theme/icons/user.png" width="25" height="25"></a>
                <%}%>
               
            </li>
        </ul>
        </div>
        <div class="header-action-icon d-block d-lg-none">
            <div class="burger-icon">
                <span class="burger-icon-top"></span>
                <span class="burger-icon-mid"></span>
                <span class="burger-icon-bottom"></span>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-body d-flex">
        <img src="" alt="Product Image" class="mr-2">
        <span></span>
    </div>
</div>
</div>
</header>

<%-include("../user-layouts/mobilenav")%>
    
    <main class="main">
        <section class="home-slider position-relative mb-30">
            <div class="container">
                <div class="home-slide-cover bg-grey-10 mt-30">
                    
                    <div class="hero-slider-1 style-4 dot-style-1 dot-style-1-position-1">
                        <%for(let i=0;i<banner.length;i++){%>
                        <div class="single-hero-slider single-animation-wrap">
                            
                            <div class="container">
                                
                                    <div class="row align-items-center slider-animated-1">
                                        <div class="col-lg-5 col-md-6">
                                            <div class="hero-slider-content-2">
                                                <h4 class="animated"><%=banner[i].h1%></h4>
                                                <h3 class="animated fw-900"><%=banner[i].h2%></h3>
                                                <h2 class="animated fw-900 text-brand"><%=banner[i].h3%></h2>
                                                <p class="animated"><%=banner[i].p1%></p>
                                                <a class="animated btn btn-brush btn-brush-3" href="/allProducts" tabindex="0"> Shop Now </a>
                                            </div>
                                        </div>
                                        <div class="col-lg-7 col-md-6">
                                            <div class="single-slider-img single-slider-img-1">
                                                <img class="animated" src="admin/assets/imgs/banner/<%=banner[i].Image%>" alt="">
                                            </div>
                                        </div>
                                    </div>
                                   
                               
                            </div>
                            
                        </div>
                        <%}%>
                       
                    </div>
                    
                    <div class="slider-arrow hero-slider-1-arrow"></div>
                </div>
            </div>
        </section>
        <section class="section-padding">
            <div class="container pb-20">
                <h2 class="section-title mb-40 wow fadeIn animated text-center"><span>Featured</span> Brands</h2>
                <div class="carausel-6-columns-cover position-relative wow fadeIn animated">
                    <div class="slider-arrow slider-arrow-2 carausel-6-columns-arrow" id="carausel-6-columns-3-arrows"></div>
                    <div class="carausel-6-columns text-center" id="carausel-6-columns-3">
                
                        <%for(let i=0;i<brands.length;i++){%>
                            <div class="brand-logo">
                                <!-- <img class="img-grey-hover" src="admin/assets/imgs/brands/" alt=""> -->
                                <h4 class="img-grey-hover"><%=brands[i].brandName.toUpperCase()%></h4>
                            </div>
                        <%}%>
                      
                    </div>
                </div>
            </div>
        </section>
        <section class="deals section-padding mb-50">
            <div class="container ">
                <div class="row" style="justify-content: center;">
                    <div class="col-lg-5 deal-co">
                        <div class="deal wow fadeIn animated mb-md-4 mb-sm-4 mb-lg-0" style="background-image: url('assets/imgs/banner/banner-01.jpg'); background-size: cover; box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;">
                            <div class="deal-top">
                                <h2 class="text-brand">Women</h2>
                                
                            </div>
                         
                            <div class="deal-bottom">
                                
                                <a href="/women" class="btn hover-up">Shop Now <i class="fi-rs-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 deal-co">
                        <div class="deal wow fadeIn animated" style="background-image: url('assets/imgs/banner/banner-02.jpg');box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;">
                            <div class="deal-top">
                                <h2 class="text-brand">Men</h2>
                                
                            </div>
                           
                            <div class="deal-bottom">
                               
                                <a href="/me" class="btn hover-up">Shop Now <i class="fi-rs-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="product-tabs pt-25 pb-20 wow fadeIn animated">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="tab-header">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="nav-tab-one" data-bs-toggle="tab" data-bs-target="#tab-one" type="button" role="tab" aria-controls="tab-one" aria-selected="true">All</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="nav-tab-two" data-bs-toggle="tab" data-bs-target="#tab-two" type="button" role="tab" aria-controls="tab-two" aria-selected="false">Men</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="nav-tab-three" data-bs-toggle="tab" data-bs-target="#tab-three" type="button" role="tab" aria-controls="tab-three" aria-selected="false">Women</button>
                                </li>
                            </ul>
                            <a href="/allproducts" class="view-more d-none d-md-flex">View More<i class="fi-rs-angle-double-small-right"></i></a>
                        </div>
                        <!--End nav-tabs-->
                        <div class="tab-content wow fadeIn animated mb-50" id="myTabContent">
                            <div class="tab-pane fade show active" id="tab-one" role="tabpanel" aria-labelledby="tab-one">
                                <div class="row product-grid-4">
                                    <%for(let i=0;i<products.length;i++){%>
                                        <%if(i<4){%>
                                            <div class="col-lg-3 col-md-3 col-12 col-sm-6">
                                                <div class="product-cart-wrap mb-30">
                                                    <div class="product-img-action-wrap">
                                                        <div class="product-img product-img-zoom">
                                                            <a href="/products?id=<%=products[i]._id%>">
                                                                <img class="default-img" src="admin/assets/imgs/products/<%=products[i].images[0].url%>" alt="">
                                                                <img class="hover-img" src="admin/assets/imgs/products/<%=products[i].images[1].url%>" alt="">
                                                            </a>
                                                        </div>
                                                        
                                                        
                                                    </div>
                                                    <div class="product-content-wrap">
                                                        <div class="product-category">
                                                            <a href="#"><%=products[i].brand%></a>
                                                        </div>
                                                        <h2><a href="/products?id=<%=products[i]._id%>"><%=products[i].productName%></a></h2>
                                                        
                                                        <div class="product-price">
                                                            <span>₹<%=products[i].salePrice%></span>
                                                            <span class="old-price">₹<%=products[i].regularPrice%></span>
                                                        </div>
                                                        <div class="product-action-1 show">
                                                            
                                                            <a aria-label="Add To Wishlist" class="action-btn" href="" type="button" id="wishlist-button" data-product-id="<%=products[i]._id%>" data-image-url="<%=products[i].images[0].url%>"><i class="fi-rs-heart"></i></a>
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        <%}%>
                                   
                                    <%}%>
                                    
                                </div>
                                <!--End product-grid-4-->
                            </div>
                            <!--En tab one (Featured)-->
                            <div class="tab-pane fade" id="tab-two" role="tabpanel" aria-labelledby="tab-two">
                                <div class="row product-grid-4">
                                    <%for(let i=0;i<men.length;i++){%>
                                        <%if(i<4){%>
                                            <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                                <div class="product-cart-wrap mb-30">
                                                    <div class="product-img-action-wrap">
                                                        <div class="product-img product-img-zoom">
                                                            <a href="/products?id=<%=men[i]._id%>">
                                                                <img class="default-img" src="admin/assets/imgs/products/<%=men[i].images[0].url%>" alt="">
                                                                <img class="hover-img" src="admin/assets/imgs/products/<%=men[i].images[1].url%>" alt="">
                                                            </a>
                                                        </div>
                                                        <!-- <div class="product-action-1">
                                                           
                                                            <a aria-label="Add To Wishlist" class="action-btn hover-up" href="shop-wishlist.html"><i class="fi-rs-heart"></i></a>
                                                           
                                                        </div> -->
                                              
                                                    </div>
                                                    <div class="product-content-wrap">
                                                        <div class="product-category">
                                                            <a href="#"><%=men[i].brand%></a>
                                                        </div>
                                                        <h2><a href="/products?id=<%=men[i]._id%>"><%=men[i].productName%></a></h2>
                                                        <!-- <div class="rating-result" title="90%">
                                                            <span>
                                                                <span>90%</span>
                                                            </span>
                                                        </div> -->
                                                        <div class="product-price">
                                                            <span>₹<%=men[i].salePrice%></span>
                                                            <span class="old-price">₹<%=men[i].regularPrice%></span>
                                                        </div>
                                                        <div class="product-action-1 show">
                                                        
                                                            <a aria-label="Add To Wishlist" class="action-btn hover-up" href="/wishlist"><i class="fi-rs-heart"></i></a>
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                       
                                            <%}%>
                                    <%}%>
                                   
                                </div>
                                <!--End product-grid-4-->
                            </div>
                            <!--En tab two (Popular)-->
                            <div class="tab-pane fade" id="tab-three" role="tabpanel" aria-labelledby="tab-three">
                                <div class="row product-grid-4">
                                    <%for(let i=0;i<women.length;i++){%>
                                        <%if(i<4){%>
                                            <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                                <div class="product-cart-wrap mb-30">
                                                    <div class="product-img-action-wrap">
                                                        <div class="product-img product-img-zoom">
                                                            <a href="/products?id=<%=women[i]._id%>">
                                                                <img class="default-img" src="admin/assets/imgs/products/<%=women[i].images[0].url%>" alt="">
                                                                <img class="hover-img" src="admin/assets/imgs/products/<%=women[i].images[1].url%>" alt="">
                                                            </a>
                                                        </div>
                                                        
                                              
                                                    </div>
                                                    <div class="product-content-wrap">
                                                        <div class="product-category">
                                                            <a href="#"><%=women[i].brand%></a>
                                                        </div>
                                                        <h2><a href="/products?id=<%=women[i]._id%>"><%=products[i].productName%></a></h2>
                                                       
                                                        <div class="product-price">
                                                            <span>₹<%=women[i].salePrice%></span>
                                                            <span class="old-price">₹<%=women[i].regularPrice%></span>
                                                        </div>
                                                        <div class="product-action-1 show">
                                                        
                                                            <a aria-label="Add To Wishlist" class="action-btn hover-up" href="/wishlist"><i class="fi-rs-heart"></i></a>
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <%}%>
                                    <%}%>
                                    
                                </div>
                                <!--End product-grid-4-->
                            </div>
                            <!--En tab three (New added)-->
                        </div>
                        <!--End tab-content-->
                    </div>
                </div>
            </div>
        </section>
        <section class="banner-2 section-padding pb-0 mb-50">
            <div class="container">
                <div class="banner-img banner-big wow fadeIn animated f-none">
                    <img src="assets/imgs/banner/banner-4.png" alt="">
                    <div class="banner-text d-md-block d-none">
                        <h1 class="fw-600 mb-20">More than Fashion, It's Elegance.
                            <p>Explore Exquisite Styles<br> at Your Fingertips.</p>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="pt-25 pb-15 mb-80">
            <div class="container wow fadeIn animated">
                <h3 class="section-title mb-20"><span>New</span> Arrivals</h3>
                <div class="carausel-6-columns-cover position-relative">
                    <div class="slider-arrow slider-arrow-2 carausel-6-columns-arrow" id="carausel-6-columns-2-arrows"></div>
                    <div class="carausel-6-columns carausel-arrow-center" id="carausel-6-columns-2">
                        <%for(let i=products.length-1;i>0;i--){%>
                            <div class="product-cart-wrap small hover-up">
                                <div class="product-img-action-wrap">
                                    <div class="product-img product-img-zoom">
                                        <a href="/products?id=<%=products[i]._id%>">
                                            <img class="default-img" src="admin/assets/imgs/products/<%=products[i].images[0].url%>" alt="">
                                            <img class="hover-img" src="admin/assets/imgs/products/<%=products[i].images[1].url%>" alt="">
                                        </a>
                                    </div>
                                  
                                    <div class="product-badges product-badges-position product-badges-mrg">
                                        <span class="new">New</span>
                                    </div>
                                </div>
                                <div class="product-content-wrap">
                                    <h2><%=products[i].productName%></h2>
                                    <!-- <div class="rating-result" title="90%">
                                        <span>
                                        </span>
                                    </div> -->
                                    <div class="product-price">
                                        <span>₹<%=products[i].salePrice%></span>
                                        <span class="old-price">₹<%=products[i].salePrice%></span>
                                    </div>
                                </div>
                            </div>
                        <%}%>
                        
                    </div>
                </div>
            </div>
        </section>
        
        
        <section class="mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="banner-bg wow fadeIn animated" style="background-image: url('assets/imgs/banner/banner-8.jpg')">
                            <div class="banner-content">
                                <h2 class="fw-600">Stay Home <span class="text-brand">Shop Online</span></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="featured section-padding">
            <div class="container pb-25">
                <div class="row">
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img src="assets/imgs/theme/icons/feature-1.png" alt="">
                            <h4 class="bg-1">Free Shipping</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img src="assets/imgs/theme/icons/feature-2.png" alt="">
                            <h4 class="bg-3">Online Order</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img src="assets/imgs/theme/icons/feature-3.png" alt="">
                            <h4 class="bg-2">Save Money</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img src="assets/imgs/theme/icons/feature-4.png" alt="">
                            <h4 class="bg-4">Promotions</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img src="assets/imgs/theme/icons/feature-5.png" alt="">
                            <h4 class="bg-5">Happy Sell</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img src="assets/imgs/theme/icons/feature-6.png" alt="">
                            <h4 class="bg-6">24/7 Support</h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
   <%-include("../user-layouts/footer.ejs")%>
  

    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <h5 class="mb-5">Now Loading</h5>
                    <div class="loader">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Vendor JS-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="assets/js/plugins/slick.js"></script>
    <script src="assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="assets/js/plugins/wow.js"></script>
    <script src="assets/js/plugins/jquery-ui.js"></script>
    <script src="assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="assets/js/plugins/magnific-popup.js"></script>
    <script src="assets/js/plugins/select2.min.js"></script>
    <script src="assets/js/plugins/waypoints.js"></script>
    <script src="assets/js/plugins/counterup.js"></script>
    <script src="assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="assets/js/plugins/images-loaded.js"></script>
    <script src="assets/js/plugins/isotope.js"></script>
    <script src="assets/js/plugins/scrollup.js"></script>
    <script src="assets/js/plugins/jquery.vticker-min.js"></script>
    <script src="assets/js/plugins/jquery.theia.sticky.js"></script>
    <script src="assets/js/plugins/jquery.elevatezoom.js"></script>
    <!-- Template  JS -->
    <script src="assets/js/main.js"></script>
    <script src="assets/js/shop.js"></script>
    <script>
        
    $(document).on('click', '#wishlist-button', function(event) {
    event.preventDefault(); 
    var productId = $(this).data('product-id');
    var imageUrl = $(this).data('image-url');
    $.ajax({
        url: '/wishlist-add',
        method: 'POST',
        data: { productId: productId },
        success: function(response) {
            // Trigger Bootstrap toast
            $('.toast').toast({
                delay: 2000, // Adjust the delay as needed
            });
            $('.toast-body img').attr('src', 'admin/assets/imgs/products/' + imageUrl);
            $('.toast-body span').text(response.message);
            $('.toast').toast('show');
        },
        error: function(error) {
            // Handle error
        }
    });
});
    </script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/index-4.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:26:20 GMT -->
</html>