<%-include("../user-layouts/header")%>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link rel="stylesheet" href="assets/css/main.css">
</head>

<body>
    <header class="header-area header-style-5" style="box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;">
        <div class="header-bottom sticky-bar sticky-white-bg">
            <div class="container">
                <div class="header-wrap header-space-between position-relative">
                    <div class="logo logo-width-1">
                        <a href="/"><img src="assets/imgs/theme/elegance.svg" alt="logo" height="50"></a>
                    </div>
                    <div class="main-menu main-menu-grow main-menu-padding-1 main-menu-lh-1 main-menu-mrg-1 hm3-menu-padding d-none d-lg-block hover-boder">
                        <nav>
                            <ul>
                                <li><a href="/">Home</a>
                                    
                                </li>
                                <li><a href="/allproducts">All</a>
                                    
                                </li>
                                <li class="position-static"><a href="/men">Men</a>
                                    
                                </li>
                                <li class="position-static"><a href="/women">Women</a>
                                   
                                </li>
                                
                                <li><a href="#">Pages <i class="fi-rs-angle-down"></i></a>
                                    <ul class="sub-menu">
                                        <li><a href="/about">About Us</a></li>
                                            <li><a href="/contact">Contact</a></li>
                                            <li><a href="/my/profile">My Account</a></li>
                                        
                                        
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="header-action-right">
                        <div class="search-style-1">
                            <form action="/search" method="post">
                                <input type="text" placeholder="Search for items…" name="searchCriteria">
                                <button type="submit" style="font-size: medium;">Search</button>
                            </form>
                        </div>
                        <div class="header-action-2">
                            <div class="header-action-icon-2">
                                <a href="/wishlist">
                                    <img class="svgInject" alt="Evara" src="assets/imgs/theme/icons/icon-heart.svg">
                                    <%if(userData.wishlist.length>0){%>
                                        <span class="pro-count blue"><%=userData.wishlist.length%></span>
                                    <%}%>
                                </a>
                            </div>
    <div class="header-action-icon-2">
        <a class="mini-cart-icon" href="/cart">
            <img alt="Evara" src="assets/imgs/theme/icons/icon-cart.svg">
            <%if(quantity>0){%>
                <span class="pro-count blue"><%=quantity%></span>
            <%}%>
        </a>
    </div>
    <div class="header-action-icon-2">
        <ul>
        <li class="dropdown nav-item">
            <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img alt="Evara" src="assets/imgs/theme/icons/user.png" width="25" height="25"></a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                <a class="dropdown-item" href="my/profile"><i class="material-icons md-perm_identity"></i>My Account</a>
                <div class="dropdown-divider"></div>
               
                <!-- <form method="post" id="logoutForm" action="/logout" style="display: inline;">
                   <a class="dropdown-item text-danger" href=""><i class="material-icons md-exit_to_app" onclick="event.preventDefault(); document.getElementById('logoutForm').submit();"></i>Logout</a>
                </form> -->
                <form id="logoutForm" method="post" action="/logout" style="display: inline;">
                    <button type="submit" class="dropdown-item text-light btn btn-light" onclick="event.preventDefault(); document.getElementById('logoutForm').submit();">
                        <i class="material-icons md-exit_to_app"></i> Logout
                    </button>
                </form>
            </div>
        </li>
    </ul>
    </div>
    <div class="header-action-icon d-block d-lg-none">
        <div class="burger-icon">
            <span class="burger-icon-top"></span>
            <span class="burger-icon-mid"></span>
            <span class="burger-icon-bottom"></span>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
</header>

<%-include("../user-layouts/mobilenav")%>
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="/" rel="nofollow">Home</a>
                    <span></span> Pages
                    <span></span> Order Details
                </div>
            </div>
        </div>
        <section class="pt-70 pb-90 ml-80 mr-80">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Order details</h2>
                    
                    <div class="row">
                        <div class="col-md-3">
                            <h6 class="font-sm">Details for Order ID:#<%=order.orderId%></h6>
                        </div>
                        <div class="col-md-3">
                            <% const originalDate = new Date(`${order.createdOn}`); %>
                            <% const formattedDate = originalDate.toLocaleDateString('en-IN'); %>
                            <h6 class="font-sm">Ordered Date: <%=formattedDate%></h6>
                        </div>
                        <% if (order.status == "Delivered") { %>
                        <div class="col-md-3">
                            
                                <% const originalDate = new Date(`${order.deliveredOn}`); %>
                                <% const formattedDate = originalDate.toLocaleDateString('en-IN'); %>
                                <h6 class="font-sm">Delivered: <%=formattedDate%></h6>
                                
                                
                            
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-sm font-sm rounded" onclick="downloadInvoice('<%=order._id%>')">Download Invoice</button>
                        </div>
                        <% } %>
                        
                        <div class="col-md-1">
                            <% if (!(order.status == "Delivered")) { %>
                                <button type="submit" class="btn btn-sm font-sm rounded" onclick="confirmDelete('<%=order._id%>')">Cancel</button>
                            <% } %>
                    
                            <% if (order.status == "Delivered" && !order.return && !order.returnStatus) { %>
                                <button type="button" class="btn-sm btn-danger rounded" onclick="requestReturn('<%=order._id%>')">Return</button>
                            <% } %>
                    
                            <% if (order.return) { %>
                                <button type="button" class="btn-sm btn-grey rounded" style="pointer-events: none;">Return</button>
                            <% } %>
                    
                            <!-- Additional buttons or actions based on other conditions -->
                        </div>
                    </div>
                    
                    
                </div>
            </div>
            <br>
            <div class="card">
                
                <div class="card-body">
                    <div class="row mb-50 mt-20 order-info-wrap ">
                      
                        <div class="col-md-3">
                            <article class="icontext align-items-start">
                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                    <i class="text-primary material-icons md-place"></i>
                                </span>
                                <div class="text">
                                    <h4 class="mb-2">Delivery Address:</h4>
                                    <p class="mb-1 font-sm">
                                        <%=address.name%>,<br><%=address.housename%> House,<br><%=address.area%>,<%=address.city%>,<br> <%=address.state%>,<br><%=address.pincode%>
                                    </p>
                                  
                                </div>
                            </article>
                        </div>
                        <div class="col-md-3">
                            <article class="icontext align-items-start">
                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                    <i class="text-primary material-icons md-local_shipping"></i>
                                </span>
                                <div class="text">
                                    <h4 class="mb-2">Payment Method:</h4>
                                    <p class="mb-1 font-sm">
                                        <%=order.paymentMethod%>
                                    </p>
                                   
                                </div>
                            </article>
                        </div> <!-- col// -->
                        <div class="col-md-3">
                            <article class="icontext align-items-start ">
                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                    <i class="text-primary material-icons md-person"></i>
                                </span>
                                <div class="text">
                                    <h4 class="mb-2">Status:</h4>
                                    <%if(order.status=="Delivered"){%>
                                        <p class="mb-1 font-sm text-success">
                                            <%=order.status%>
                                        </p>
                                    <%}else{%>
                                    <p class="mb-1 font-sm text-danger">
                                            <%=order.status%>
                                        </p>
                                    <%}%>
                                    <br>
                                    <%if(order.returnStatus){%>
                                        <h4 class="mb-2">Return Status:</h4>
                                        <%if(order.returnStatus=="Return Accepted"){%>
                                            <p class="mb-1 font-sm text-success">
                                                <%=order.returnStatus%>
                                            </p>
                                        <%}else{%>
                                        <p class="mb-1 font-sm text-danger">
                                                <%=order.returnStatus%>
                                            </p>
                                        <%}%>
                                    <%}%>
                                    
                                   
                                </div>
                            </article>
                        </div> 
                        <div class="col-md-3">
                            <article class="icontext align-items-start">
                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                    <i class="text-primary material-icons md-place"></i>
                                </span>
                                <div class="text">
                                    <h4 class="mb-2">Order Summary:</h4>
                                    <p class="mb-1 font-sm">
                                        Subtotal   :₹<%=order.totalAmount+order.coupondiscount%>
                                    </p>
                                    <p class="mb-2 font-sm">
                                        Shipping   : ₹<%=order.shippingcharge%>
                                    </p>
                                    <p class="mb-2 font-sm">
                                        Discount   : ₹<%=order.coupondiscount+order.categorydiscount%>
                                    </p>
                                    <h6 class="mb-1 font-sm">
                                        Total      : ₹<%=order.totalAmount%>
                                    </h6>
                                  
                                </div>
                            </article>
                        </div>
                    </div> <!-- row // -->
                   
                </div> <!-- card-body end// -->
            </div>
            <br>
             <div class="card">
                <header class="card-header">
                    <div class="row align-items-center">
                        <h4 class="content-title card-title">Product Details</h4>
                    </div>
                </header> <!-- card-header end// -->
                <div class="card-body">
                   
                    <div class="row">
                        
                        <div class="col-lg-12 box shadow-sm bg-light">
                            
                            <%for(let i=0;i<products.Items.length;i++){%>
                                <div class="row mb-50 mt-20 order-info-wrap">
                                    <div class="col-md-3">
                                        <article class="icontext align-items-start">
                                            <div >
                                                <img src="admin/assets/imgs/products/<%=products.Items[i].productId.images[0].url%>" width="100" height="120"  alt="Item">
                                            </div>
                                        </article>
                                    </div> <!-- col// -->
                                    <div class="col-md-3">
                                        <article class="icontext align-items-start">
                                           
                                            <div class="text">
                                                <h6 class="mb-1"><%=products.Items[i].productId.productName%></h6>
                                               
                                              
                                            </div>
                                        </article>
                                    </div> <!-- col// -->
                                    <div class="col-md-3">
                                        <article class="icontext align-items-start">
                                            
                                            <div class="text">
                                                <h6 class="mb-1">Quantity</h6>
                                                <p class="mb-1">
                                                    x <%=products.Items[i].quantity%>
                                                </p>
                                               
                                            </div>
                                        </article>
                                    </div>
                                    <div class="col-md-3">
                                        <article class="icontext align-items-start">
                                            
                                            <div class="text">
                                                <h6 class="mb-1">Subtotal</h6>
                                                <p class="mb-1">
                                                    ₹ <%=products.Items[i].subtotal%>
                                                </p>
                                               
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            <%}%>
                            

                        </div> <!-- col// -->
                        <!-- <div class="col-lg-1"></div> -->
                       
                    </div>
                </div> <!-- card-body end// -->
            </div> 

           
        </section> 
    </main>
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Confirm Cancellation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="cancelModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to cancel this order?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="cancelModal()">Cancel</button>
                    <button type="button" class="btn btn-danger" onclick="cancelOrders()">Continue</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="returnModal" tabindex="-1" role="dialog" aria-labelledby="returnModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="returnModalLabel">Select Return Reason</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="cancelReturnModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Create a form to select a reason for return -->
                    <form id="returnReasonForm" method="post" action="/requestReturn">
                        <div class="form-group">
                            <label for="returnReason">Select a reason for return:</label>
                            <select class="form-control" id="returnReason" name="returnReason">
                                <option value="Wrong Item Delivered">Wrong Item Delivered</option>
                                <option value="Damaged or Defective Product">Damaged or Defective Product</option>
                                <option value="Size or Fit Issue">Size or Fit Issue</option>
                                <option value="Changed My Mind">Changed My Mind</option>
                                <option value="Late Delivery">Late Delivery</option>
                                <!-- Add more reasons here as additional <option> elements -->
                            </select>
                        </div>
                    
                </div>
                <div class="modal-footer">
                    <input type="" name="orderId" value="<%=order._id%>" hidden>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="cancelReturnModal()">Close</button>
                    <button type="submit" class="btn btn-primary" id="confirmReturn">Confirm Return</button>
                </div>
            </form>
            </div>
        </div>
    </div>
    
   
    <%-include("../user-layouts/footer.ejs")%>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <h5 class="mb-5">Now Loading</h5>
                    <div class="loader">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>

        // Cancel order

        let cancelorderId;
    
        function cancelModal(){
            $('#deleteModal').modal('hide');
        }
    
        function confirmDelete(orderId) {
            cancelorderId = orderId;
            $('#deleteModal').modal('show'); 
        }
    
        function cancelOrders() {
            window.location.href = `/cancel-order?orderId=${cancelorderId}`;
        }

        // Return order
        function requestReturn(orderId){
            $('#returnModal').modal('show');
        }

        function cancelReturnModal(){
            $('#returnModal').modal('hide');
        }


        function downloadInvoice(orderId) {
        // Make an asynchronous request to the server
        fetch(`/download-invoice?orderId=${orderId}`)
            .then(response => {
                // Check if the request was successful
                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }
                return response.blob();
            })
            .then(blob => {
                // Create a Blob URL for the downloaded file
                const url = URL.createObjectURL(blob);

                // Create a link element and trigger a click to download the file
                const a = document.createElement('a');
                a.href = url;
                a.download = 'invoice.pdf';
                document.body.appendChild(a);
                a.click();
                document.body.removeChild(a);

                // Revoke the Blob URL to free up resources
                URL.revokeObjectURL(url);
            })
            .catch(error => {
                console.error('Error downloading invoice:', error);
            });
    }
    </script>
   
    <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="assets/js/plugins/slick.js"></script>
    <script src="assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="assets/js/plugins/wow.js"></script>
    <script src="assets/js/plugins/jquery-ui.js"></script>
    <script src="assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="assets/js/plugins/magnific-popup.js"></script>
    <script src="assets/js/plugins/select2.min.js"></script>
    <script src="assets/js/plugins/waypoints.js"></script>
    <script src="assets/js/plugins/counterup.js"></script>
    <script src="assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="assets/js/plugins/images-loaded.js"></script>
    <script src="assets/js/plugins/isotope.js"></script>
    <script src="assets/js/plugins/scrollup.js"></script>
    <script src="assets/js/plugins/jquery.vticker-min.js"></script>
    <script src="assets/js/plugins/jquery.theia.sticky.js"></script>
    <!-- Template  JS -->
    <script src="assets/js/main.js"></script>
    <script src="assets/js/profileValidation.js"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/page-account.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:27:15 GMT -->
</html>