<%-include("../user-layouts/header")%>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link rel="stylesheet" href="assets/css/main.css">

</head>

<body>
    <!-- Quick view -->
    <header class="header-area header-style-5">
        <!-- <div class="header-top header-top-ptb-1 d-none d-lg-block">
        </div> -->
        <header class="header-area header-style-5" style="box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;">
            <div class="header-bottom sticky-bar sticky-white-bg">
                <div class="container">
                    <div class="header-wrap header-space-between position-relative">
                        <div class="logo logo-width-1">
                            <a href="/"><img src="assets/imgs/theme/elegance.svg" alt="logo" height="50"></a>
                        </div>
                        <div class="main-menu main-menu-grow main-menu-padding-1 main-menu-lh-1 main-menu-mrg-1 hm3-menu-padding d-none d-lg-block hover-boder">
                            <nav>
                                <ul>
                                    <li><a href="/">Home</a>
                                        
                                    </li>
                                    <li><a href="/allproducts">All</a>
                                        
                                    </li>
                                    <li class="position-static"><a href="/men">Men</a>
                                        
                                    </li>
                                    <li class="position-static"><a href="/women">Women</a>
                                       
                                    </li>
                                    
                                    <li><a href="#">Pages <i class="fi-rs-angle-down"></i></a>
                                        <ul class="sub-menu">
                                            <li><a href="/about">About Us</a></li>
                                            <li><a href="/contact">Contact</a></li>
                                            <li><a href="/my/profile">My Account</a></li>
                                            
                                            
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="header-action-right">
                            <div class="search-style-1">
                                <form action="/search" method="post">
                                    <input type="text" placeholder="Search for items…" name="searchCriteria">
                                    <button type="submit" style="font-size: medium;">Search</button>
                                </form>
                            </div>
                            <div class="header-action-2">
                                <div class="header-action-icon-2">
                                    <a href="/wishlist">
                                        <img class="svgInject" alt="Evara" src="assets/imgs/theme/icons/icon-heart.svg">
                                    </a>
                                </div>
        <div class="header-action-icon-2">
            <a class="mini-cart-icon" href="/cart">
                <img alt="Evara" src="assets/imgs/theme/icons/icon-cart.svg">
                <%if(quantity>0){%>
                    <span class="pro-count blue"><%=quantity%></span>
                <%}%>
            </a>
        </div>
        <div class="header-action-icon-2">
            <ul>
                <li class="dropdown nav-item">
                    <%if(userData!=null){%>
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img alt="Evara" src="assets/imgs/theme/icons/user.png" width="25" height="25"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item" href="my/profile"><i class="material-icons md-perm_identity"></i>My Account</a>
                            <div class="dropdown-divider"></div>
                            <form id="logoutForm" method="post" action="/logout" style="display: inline;">
                                <button type="submit" class="dropdown-item text-light btn btn-light" onclick="event.preventDefault(); document.getElementById('logoutForm').submit();">
                                    <i class="material-icons md-exit_to_app"></i> Logout
                                </button>
                            </form>
                        </div>
                    <%}else{%>
                        <a href="/login" id="dropdownAccount" aria-expanded="false"> <img alt="Evara" src="assets/imgs/theme/icons/user.png" width="25" height="25"></a>
                    <%}%>
                   
                </li>
        </ul>
        </div>
        <div class="header-action-icon d-block d-lg-none">
            <div class="burger-icon">
                <span class="burger-icon-top"></span>
                <span class="burger-icon-mid"></span>
                <span class="burger-icon-bottom"></span>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</header>

        
    <%-include("../user-layouts/mobilenav")%>
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow">Home</a>
                    <span></span> <%=product.gender%>
                    <span></span> <%=product.category%>
                </div>
            </div>
        </div>
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="product-detail accordion-detail">
                            <div class="row mb-50 ml-30">
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    <div class="detail-gallery">
                                        <span class="zoom-icon"><i class="fi-rs-search"></i></span>
                                        <!-- MAIN SLIDES -->
                                        <div class="product-image-slider">
                                            <%for(let i=0;i<product.images.length;i++){%>
                                                <figure class="border-radius-10">
                                                    <img src="admin/assets/imgs/products/<%=product.images[i].url%>" alt="product image">
                                                </figure>
                                            <%}%>
                                        </div>
                                        <!-- THUMBNAILS -->
                                        <div class="slider-nav-thumbnails pl-15 pr-15">
                                            <%for(let i=0;i<product.images.length;i++){%>
                                                <div><img src="admin/assets/imgs/products/<%=product.images[i].url%>" alt="product image"></div>
                                            <%}%>
                                        </div>
                                    </div>
                                    <!-- End Gallery -->
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="detail-info">
                                        <h2 class="title-detail"><%=product.productName%></h2>
                                        <div class="product-detail-rating">
                                            <div class="pro-details-brand">
                                                <span> Brand: <a href="shop-grid-right.html"><%=product.brand%></a></span>
                                            </div>
                                        </div>
                                        <div class="clearfix product-price-cover">
                                            <div class="product-price primary-color float-left">
                                                <ins><span class="text-brand">₹<%=product.salePrice%></span></ins>
                                                <ins><span class="old-price font-md ml-15">₹<%=product.regularPrice%></span></ins>
                                                <!-- <span class="save-price  font-md color3 ml-15">25% Off</span> -->
                                            </div>
                                        </div>
                                        <div class="bt-1 border-color-1 mt-15 mb-15"></div>
                                        <div class="product_sort_info font-xs mb-30">
                                            <ul>
                                                <li class="mb-10"><i class="fi-rs-refresh mr-5"></i> 30 Day Return Policy</li>
                                                <li><i class="fi-rs-credit-card mr-5"></i> Cash on Delivery available</li>
                                            </ul>
                                        </div>
                                        <div class="attr-detail attr-color mb-15">
                                            <strong class="mr-10">Color</strong>
                                            <ul class="list-filter size-filter font-small">
                                                <%for(let i=0;i<product.color.length;i++){%>
                                                    <li><a href="#"><%=product.color[i]%></a></li>
                                                <%}%>
                                                
                                            </ul>
                                        </div>
                                        
                                        <div class="attr-detail attr-size d-flex">
                                            <strong class="mr-10">Size</strong>
                                            <ul class="list-filter size-filter font-small">
                                                <% for (let i = 0; i < product.sizes.length; i++) { %>
                                                    <% if (product.sizes[i].stock == 0) { %>
                                                        <li>
                                                            <a href="" class="size-option" data-size="<%= product.sizes[i].size %>" style="border-color: #ff9999;pointer-events: none;color: #ccc; " aria-disabled="true">
                                                                <%= product.sizes[i].size %>
                                                            </a>
                                                        </li>
                                                    <% } else { %>
                                                        <li>
                                                            <a href="" class="size-option" data-size="<%= product.sizes[i].size %>">
                                                                <%= product.sizes[i].size %>
                                                            </a>
                                                        </li>
                                                    <% } %>
                                                <% } %>
                                            </ul>
                                            <p id="size-selection" style="color: red;" class="font-sm ml-10"></p>
                                        </div>
                                        <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                                        <div class="detail-extralink">
                                            
                                            <div class="product-extra-link2" data-product-id="<%= product._id %>">
                                                <% if(product.stock == 0) { %>
                                                    <button type="button" class="btn btn-outline-danger text-danger" disabled>Out Of Stock</button>
                                                <% } else { %>
                                        
                                                    <%if(userData==null){%>
                                                        <button type="button" class="button button-add-to-cart" onclick="backToLogin()">
                                                            Add to Cart</button>
                                                    <%}else{%>
                                                        <button type="submit" class="button button-add-to-cart" onclick="addToCart('<%=product._id%>')">
                                                            Add to Cart</button>
                                                    <%}%>
                                                    
                                                <% } %>
                                                <!-- <a aria-label="Add To Wishlist" class="action-btn hover-up" href="shop-wishlist.html"><i class="fi-rs-heart"></i></a> -->
                                            </div>
                                            
                                        </div>
                                        <ul class="product-meta font-xs color-grey mt-50">
                                            <li class="mb-5">Tags: <a href="#" rel="tag"><%=product.gender%></a>, <a href="#" rel="tag"><%=product.category%></a></li>
                                            <!-- <li>Availability:<span class="in-stock text-success ml-5"><%=product.stock%> Items In Stock</span></li> -->
                                        </ul>
                                    </div>
                                    <!-- Detail Info -->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-10 m-auto entry-main-content">
                                    <h2 class="section-title style-1 mb-30">Description</h2>
                                    <div class="description mb-50">
                                        <p><%=product.description%></p>
                                        
                                    </div>
                                   
                                   
                                    
                                    <!--Comments-->
                                 <%if(product.reviews.length>0){%>
                                    <h3 class="section-title style-1 mb-30 mt-30">Reviews (<%=product.reviews.length%>)</h3>
                                        <div class="comments-area style-2">
                                            <div class="row">
                                                <div class="col-lg-8">
    
                                                    <div class="comment-list">
                                                        <%for(let i=0;i<product.reviews.length;i++){%>
                                                            <div class="single-comment justify-content-between d-flex">
                                                                <div class="user justify-content-between d-flex">
                                                                    <div class="thumb text-center">
                                                                        
                                                                        <h6><a href="#"><%=product.reviews[i].name%></a></h6>
                                                                        
                                                                    </div>
                                                                    <div class="desc">
                                                                        <div class="product-rate d-inline-block">
                                                                            <% if (product.reviews[i] && typeof product.reviews[i].rating === 'number') { %>
                                                                                <div class="product-rating" style=`width:<%=product.reviews[i].rating%>%`>
                                                                            <% } else { %>
                                                                                <div class="product-rating" style="width:0%">
                                                                            <% } %>
                                                                            </div>
                                                                        </div>
                                                                        <p><%=product.reviews[i].comment%></p>
                                                                        <div class="d-flex justify-content-between">
                                                                            <div class="d-flex align-items-center">
                                                                                <p class="font-xs mr-30"><%=product.reviews[i].addedOn%> </p>
                                                                                
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        <%}%>
                                                      
                                                     
                                                    </div>
                                                </div>
                                             
                                            </div>
                                        </div>
                                    <%}%>
                                        <!--comment form-->
                                        <div class="comment-form">
                                            <h4 class="mb-15">Add a review</h4>
                                            <div class="d-inline-block mb-30">
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-8 col-md-12">
                                                    <form class="form-contact comment_form" action="/productReview?id=<%=product._id%>" method="post" id="commentForm" onsubmit="return validateReview()">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <textarea class="form-control w-100" name="comment" id="comment" cols="30" rows="9" placeholder="Write Comment"></textarea>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <div class="form-group">
                                                                    <input class="form-control mb-5" name="name" id="name" type="text" placeholder="Name">
                                                                    
                                                                    <div class="error"></div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <div class="form-group">
                                                                    <input class="form-control mb-5" name="rating" id="rating" type="text" placeholder="Rating(Out of 5)">
                                                            
                                                                    <div class="error"></div>
                                                                </div>
                                                            </div>
                                                            
                                                        </div>
                                                        <div class="form-group">
                                                            <button type="submit" class="button button-contactForm" id="submitReview">Submit
                                                                Review</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    
                            </div>
                            <%if(relatedProduct.length>0){%>
                            <div class="row mt-60 mb-50">
                                <div class="col-12">
                                    <h3 class="section-title style-1 mb-30">Related products</h3>
                                </div>
                                <div class="col-12">
                                    <div class="row related-products">
                                        <%for(let i=0;i<relatedProduct.length;i++){%>

                                        
                                        <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                            <div class="product-cart-wrap small hover-up">
                                                <div class="product-img-action-wrap">
                                                    <div class="product-img product-img-zoom">
                                                        <a href="products?id=<%=relatedProduct[i]._id%>" tabindex="0">
                                                            <img class="default-img" src="admin/assets/imgs/products/<%=relatedProduct[i].images[0].url%>" alt="">
                                                            <img class="hover-img" src="admin/assets/imgs/products/<%=relatedProduct[i].images[1].url%>" alt="">
                                                        </a>
                                                    </div>
                                                    
                                                </div>
                                                <div class="product-content-wrap">
                                                    <h2><a href="products?id=<%=relatedProduct[i]._id%>" tabindex="0"><%=relatedProduct[i].productName%></a></h2>
    
                                                    <div class="product-price">
                                                        <span>₹<%=relatedProduct[i].salePrice%></span>
                                                        <span class="old-price">₹<%=relatedProduct[i].salePrice%></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <%}%>
                                    </div>
                                </div>
                            </div>
                        <%}%>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%-include("../user-layouts/footer.ejs")%>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <h5 class="mb-5">Now Loading</h5>
                    <div class="loader">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Vendor JS-->
    <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="assets/js/plugins/slick.js"></script>
    <script src="assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="assets/js/plugins/wow.js"></script>
    <script src="assets/js/plugins/jquery-ui.js"></script>
    <script src="assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="assets/js/plugins/magnific-popup.js"></script>
    <script src="assets/js/plugins/select2.min.js"></script>
    <script src="assets/js/plugins/waypoints.js"></script>
    <script src="assets/js/plugins/counterup.js"></script>
    <script src="assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="assets/js/plugins/images-loaded.js"></script>
    <script src="assets/js/plugins/isotope.js"></script>
    <script src="assets/js/plugins/scrollup.js"></script>
    <script src="assets/js/plugins/jquery.vticker-min.js"></script>
    <script src="assets/js/plugins/jquery.theia.sticky.js"></script>
    <script src="assets/js/plugins/jquery.elevatezoom.js"></script>
   
    <!-- Template  JS -->
    <script src="assets/js/main.js"></script>
    <script src="assets/js/shop.js"></script>
    <script src="assets/js/productDetails.js"></script>

</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-product-full.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:26:43 GMT -->
</html>