<%-include("../user-layouts/header")%>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link rel="stylesheet" href="assets/css/main.css">
</head>

<body>
    <header class="header-area header-style-5" style="box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;">
        <div class="header-bottom sticky-bar sticky-white-bg">
            <div class="container">
                <div class="header-wrap header-space-between position-relative">
                    <div class="logo logo-width-1">
                        <a href="/"><img src="assets/imgs/theme/elegance.svg" alt="logo" height="50"></a>
                    </div>
                    <div class="main-menu main-menu-grow main-menu-padding-1 main-menu-lh-1 main-menu-mrg-1 hm3-menu-padding d-none d-lg-block hover-boder">
                        <nav>
                            <ul>
                                <li><a href="/">Home</a>
                                    
                                </li>
                                <li><a href="/allproducts">All</a>
                                    
                                </li>
                                <li class="position-static"><a href="/men">Men</a>
                                    
                                </li>
                                <li class="position-static"><a href="/women">Women</a>
                                   
                                </li>
                                
                                <li><a href="#">Pages <i class="fi-rs-angle-down"></i></a>
                                    <ul class="sub-menu">
                                        <li><a href="/about">About Us</a></li>
                                            <li><a href="/contact">Contact</a></li>
                                            <li><a href="/my/profile">My Account</a></li>
                                        
                                        
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="header-action-right">
                        <div class="search-style-1">
                            <form action="/search" method="post">
                                <input type="text" placeholder="Search for items…" name="searchCriteria">
                                <button type="submit" style="font-size: medium;">Search</button>
                            </form>
                        </div>
                        <div class="header-action-2">
                            <div class="header-action-icon-2">
                                <a href="/wishlist">
                                    <img class="svgInject" alt="Evara" src="assets/imgs/theme/icons/icon-heart.svg">
                                    <%if(products.length>0){%>
                                        <span class="pro-count blue"><%=products.length%></span>
                                    <%}%>
                                    
                                </a>
                            </div>
    <div class="header-action-icon-2">
        <a class="mini-cart-icon" href="/cart">
            <img alt="Evara" src="assets/imgs/theme/icons/icon-cart.svg">
            <%if(quantity>0){%>
                <span class="pro-count blue"><%=quantity%></span>
            <%}%>
        </a>
    </div>
    <div class="header-action-icon-2">
        <ul>
        <li class="dropdown nav-item">
            <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img alt="Evara" src="assets/imgs/theme/icons/user.png" width="25" height="25"></a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                <a class="dropdown-item" href="my/profile"><i class="material-icons md-perm_identity"></i>My Account</a>
                <div class="dropdown-divider"></div>
               
                <!-- <form method="post" id="logoutForm" action="/logout" style="display: inline;">
                   <a class="dropdown-item text-danger" href=""><i class="material-icons md-exit_to_app" onclick="event.preventDefault(); document.getElementById('logoutForm').submit();"></i>Logout</a>
                </form> -->
                <form id="logoutForm" method="post" action="/logout" style="display: inline;">
                    <button type="submit" class="dropdown-item text-light btn btn-light" onclick="event.preventDefault(); document.getElementById('logoutForm').submit();">
                        <i class="material-icons md-exit_to_app"></i> Logout
                    </button>
                </form>
            </div>
        </li>
    </ul>
    </div>
    <div class="header-action-icon d-block d-lg-none">
        <div class="burger-icon">
            <span class="burger-icon-top"></span>
            <span class="burger-icon-mid"></span>
            <span class="burger-icon-bottom"></span>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
</header>

<%-include("../user-layouts/mobilenav")%>
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow">Home</a>
                    <span></span> Shop
                    <span></span> Wishlist
                </div>
            </div>
        </div>
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row">
                    <%if(products.length==0){%>
                        <div class="wishlist-container mt-50 mb-50">
                            <div class="empty-wishlist">
                               
                                <h2>Your Wishlist is Empty</h2>
                                <p>Start adding items to your wishlist to keep track of your favorite things.</p>
                                <button type="button" class="btn"><a href="/allproducts" style="color:white">Add</a></button>
                            </div>
                        </div>
                    <%}else{%>
                        <div class="col-12">
                            <div class="table-responsive">
                                <table class="table shopping-summery text-center">
                                    <thead>
                                        <tr class="main-heading">
                                            <th scope="col" colspan="2">Product</th>
                                            <th scope="col">Price</th>
                                            <th scope="col">Stock Status</th>
                                            <th scope="col">Action</th>
                                            <th scope="col">Remove</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <%for(let i=0;i<products.length;i++){%>
                                            <tr>
                                                <td class="image product-thumbnail"><img src="admin/assets/imgs/products/<%=products[i].images[0].url%>" alt="<%=products[i].productName%>"></td>
                                                <td class="product-des product-name">
                                                    <h5 class="product-name"><a href="/products?id=<%=products[i]._id%>"><%=products[i].productName%></a></h5>
                                                    <p class="font-xs"><br> <%=products[i].description%>
                                                    </p>
                                                </td>
                                                <td class="price" data-title="Price"><span>₹<%=products[i].salePrice%> </span></td>
                                                <td class="text-center" data-title="Stock">
                                                    <%if(products[i].stock==0){%>
                                                        <span class="text-danger font-weight-bold">Out of stock</span>
                                                    <%}else{%>
                                                        <span class="color3 font-weight-bold">In Stock</span>
                                                    <%}%>
                                                    
                                                  
                                                </td>
                                                <td class="text-right" data-title="Cart">
                                                    <%if(products[i].stock==0){%>
                                                        <button type="button" class="btn btn-sm btn-outline-danger text-danger" disabled>Move to bag</button>
                                                   
                                                    <%}else{%>
                                                        <a href="/wishlist-to-bag?id=<%=userData.wishlist[i].productId%>" class="btn btn-sm"><i class="fi-rs-shopping-bag mr-5"></i>Move to bag</a>
                                                    <%}%>
                                                </td>
                                                <td class="action" data-title="Remove"><a href="/wishlist/deleteItem?itemId=<%=userData.wishlist[i]._id%>" class="text-muted"><i class="fi-rs-trash"></i></a></td>
                                            </tr>
                                        <%}%>
                                       
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    <%}%>
                    
                </div>
            </div>
        </section>
    </main>
    <%-include("../user-layouts/footer.ejs")%>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <h5 class="mb-5">Now Loading</h5>
                    <div class="loader">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Vendor JS-->
    <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="assets/js/plugins/slick.js"></script>
    <script src="assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="assets/js/plugins/wow.js"></script>
    <script src="assets/js/plugins/jquery-ui.js"></script>
    <script src="assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="assets/js/plugins/magnific-popup.js"></script>
    <script src="assets/js/plugins/select2.min.js"></script>
    <script src="assets/js/plugins/waypoints.js"></script>
    <script src="assets/js/plugins/counterup.js"></script>
    <script src="assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="assets/js/plugins/images-loaded.js"></script>
    <script src="assets/js/plugins/isotope.js"></script>
    <script src="assets/js/plugins/scrollup.js"></script>
    <script src="assets/js/plugins/jquery.vticker-min.js"></script>
    <!-- Template  JS -->
    <script src="assets/js/main.js"></script>
    <script src="assets/js/shop.js"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-wishlist.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:26:04 GMT -->
</html>